name: Build & Push Prod Images

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build & Push hpvideo (prod)
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: aihpvideo/hpvideo:prod

      - name: Build & Push hpvideo-nest (prod)
        uses: docker/build-push-action@v5
        with:
          context: backend/degpt-nest/degpt-nest
          push: true
          tags: aihpvideo/hpvideo-nest:prod
