name: Deploy to Server

on:
  push:
    branches:
      - test

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      # 1) 原 Python/Svelte 一体镜像：不动
      - name: Build and Push WebUI Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: aihpvideo/hpvideo:test

      # 2) 新增 Nest 镜像
      - name: Build and Push Nest Docker image
        uses: docker/build-push-action@v5
        with:
          context: backend/degpt-nest/degpt-nest
          push: true
          tags: aihpvideo/hpvideo-nest:test
